<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="1">
        <tr th:each="user:${users}" th:object="${user}">
            <td th:text="*{id}">
            </td>
            <td th:text="*{nickname}">
            </td>
        </tr>

    <table border="1">
        <tr th:each="event:${events}" th:object="${event}">
            <td th:text="*{id}">
            </td>
            <td th:text="*{user.nickname}">
            </td>
            <td th:text="*{name}">
            </td>
        </tr>
    </table>
</body>
</html>